html{
  font-size: 14px;
}
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.isNotExpandText{
  transition: .3s;
  visibility: hidden;
  display: none;
}
::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the handle on hover */
}

/* Specify the corners of the scrollbar */
::-webkit-scrollbar-corner {
  background: transparent; /* color of the scrollbar corners */
}



@media (max-width:762px) {
  html{
    font-size: .9rem;
  }
}

.dropped {
  animation: pulse 1s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.css-1ddfved-MuiInputBase-root-MuiInput-root::after{
  border-bottom: 2px solid #ff5c00 !important;
}
.css-1ddfved-MuiInputBase-root-MuiInput-root::before{
  border-bottom: 1px solid  #9999 !important;
}
.css-l0dd6t-MuiAutocomplete-root .MuiInput-root .MuiInput-input{
  color: #444 !important;
}
.css-fg1hdf-MuiTableCell-root.MuiTableCell-head {
  background-color: #fff !important;
  color: #313131 !important;
}
.css-15wf72z-MuiTableCell-root.MuiTableCell-head {
  background-color: #fff !important;
  color: #313131 !important;
}
.css-1p2woo9-MuiPaper-root-MuiTableContainer-root{
  box-shadow: none !important;
}

.css-maupu5-MuiButtonGroup-root .MuiButtonGroup-firstButton 
, .css-maupu5-MuiButtonGroup-root .MuiButtonGroup-middleButton {
  border: none !important;

}
.css-maupu5-MuiButtonGroup-root {
  padding: 0 !important;
  border-radius: 0;
  box-shadow:none !important;
  width: 10rem !important;
}
.css-maupu5-MuiButtonGroup-root :hover{
  background: transparent !important;
}


.css-1hjgrc1-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: 1px solid #cccc!important
  
}
.css-1hjgrc1-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid #cccc!important
  
}
.css-1hjgrc1-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #ff5c00 !important

}


.Main-Holder{
  overflow-y: auto;
  padding: 1rem;
  width: 90%;
  height: 91vh;
  background: #fff;
  border-radius: 7px;
  margin: .5rem 1rem;
  box-shadow: 3px 3px #dedede;
}

@media  (max-width:992px){
.Main-Holder{
  margin: 1.5rem auto;
}

}

.css-gw7mzq-MuiInputBase-root-MuiInput-root::after{
    border-bottom: 2px solid #ff5c00 !important
}
.usersCell{
  color:#1b1b1b !important;
  width: 1rem;
  background-color: #ff5c00;
}
.borderAfter::after {
  border-bottom: 2px solid #ff5c00 !important

}

.flex-space-between-center {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}

.not-Submited-required-single-file{
  width:36px;
  height:36px;
  border-radius:50%;
  background:rgb(255 208 181);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Defult-btn{
  border: 1px solid #ff5c00;
  color: #ff5c00;
  background-color: #ffff;
  box-shadow: none;


}
.Defult-btn:hover , .Defult-btn:focus {
  background-color: #ff5c00;
  
  box-shadow: none !important;


}
.t-main{
  transform: translate(-1px , -95vh) !important
}



/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.3);
}

.my-select {
  border-color: grey; /* Default border color */
}

.my-select.Mui-focused {
  border-color: red; /* Red border when focused */
}



   .CheckBoxcc:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.p3-info-box{
  
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:1rem;
    margin:.5rem


}
.p3-info-box {
  p{
    text-align: start;
    width: 20rem;
  }
}

.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
}
.flex-Space{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;

  p{
    max-width: 20rem;
  }

}


.customViewer {
  font-size: initial !important; /* Prevent font size changes */
}

/* Additional styling to ensure the PDF viewer looks good */
.pdf-viewer-container {
  width: 100% !important;
  height: auto !important;
  overflow: auto;
}